---
---

<nav class="bg-white shadow p-4">
  <ul class="flex gap-6 justify-center">
    <li><a href="/" class="hover:text-blue-500">Accueil</a></li>
    <li><a href="/services" class="hover:text-blue-500">Services</a></li>
    <li><a href="/formations" class="hover:text-blue-500">Formations</a></li>
    <li><a href="https://baptistejeandel.wordpress.com/" target="_blank" rel="noopener noreferrer" class="hover:text-blue-500">Ancien site</a></li>
  </ul>
</nav>
