---
const path = Astro.url.pathname;

// Autorisé uniquement sur "/", "/services" ou "/formations"
const showRelaxShortcut =
  path === "/" ||
  path === "/services" ||
  path === "/formations";
---

{showRelaxShortcut && (
  <div
    class="fixed z-40 pointer-events-none"
    style="top:72px; left:12px;"
  >
    <a
      href="/services/relaxations-sonores#dates"
      class="relative inline-flex items-center gap-2 px-3 py-1.5 border border-stone-900 bg-red-200
             font-semibold -rotate-1 pointer-events-auto shadow-sm/30"
    >
      <span class="relative z-10 text-sm text-center">Dates relaxations sonores <br>
      à la Cravanchoise</span>
    </a>
  </div>
)}
